#question {
    background-color: rgb(98, 131, 223);
    border-radius: 4rem;
    padding: 3rem;
    width: 1000px;

  }
  
  #question p {
    margin-bottom: 1rem;
  }
  
  #question h2 {
    margin-bottom: 1rem;
  }

  #question button {
    border: 2px solid #fff;
    margin: 1rem;
  }